html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  background-color: white;
}

.jumbotron {
  background-color: white!important;
  border: none;
  padding-bottom: 1px!important;
  padding-top: 1px!important;
}

.navbar-toggler {
  background-color: brown;
}

.navbar {
  background-color: blueviolet;
}