html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.jumbotron {
  border: none;
  padding-top: 59vh!important;
  position: relative;
  height: 80vh;
  background: white!important;
}

.jumbotron .container {
  position: relative;
  z-index: 2;
  color: black;
  background:white;
}

.jumbotron:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('/images/switzerland-political-map.jpeg');
  background-size: 70% 100%;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(1.0px);
}

.navbar-toggler {
  background-color: lightgray;
  color: blue;
}

.navbar {
  background-color: blueviolet;
}